@import './variables.scss';


/*-----------------------------------------------------*/
/* ----- Story component
/*-----------------------------------------------------*/
.story {
    // Text
    color: #666;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    // Positioning
    position: relative;

    // Spacing
    margin-bottom: 180px !important;
    
    // Effects
    border-radius: 40px;
    box-shadow: 1px 2px 5px #aaa;
    overflow: hidden; 
    
    &:after {
        content: "";
        background-image: url(https://www.transparenttextures.com/patterns/lined-paper.png);
        background-color: #fbc02d0d;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
    
    // Media Queries
	@media screen and (max-width: 767px) {
        padding: 40px 20px !important;
        width: 90%;
	}
    
	@media screen and (min-width: $mobile) {
        padding: 80px 160px !important;
    }
    
    @media screen and (max-width: $tablet) {
        padding: 40px 20px !important;
        width: 95%;
    }
}

// Other
.icon-rotated {
    display: inline-block;
    transform: rotate(-45deg);
}
/*-----------------------------------------------------*/