@import 'variables';
@import 'home';
@import 'about';
@import 'development';
@import 'design';


/*-----------------------------------------------------*/
/* ----- General
/*-----------------------------------------------------*/
.app { text-align:left; }  
* { margin:0; padding:0; font-family: $fontInconsolata; font-weight:400; }
*, *::after, *::before { box-sizing:border-box; }
body { color:#3e454c; background-color:#fefefe; }
h1, h2, h3, h4, h5, pre { color:#000; margin-bottom: 20px; }
h1 { font-size:20px; }
h1 span { font-weight:300; }
b, strong { font-weight:600; }
a { color:$primaryLink; text-decoration:none; }
a.disabled { pointer-events: none; cursor: default; opacity: 0.65; filter: grayscale(50%); }
a:hover { text-decoration:none !important; }
ul { list-style-type:none; margin: 0; }
iframe { display:block; width:100%; border:1px solid #EEE; background-color:#FFF; }
img { image-orientation: from-image; }

DIALOG { display:none; position:fixed; top:50%; left:50%; padding:45px 30px; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); text-align:center; background-color:#FFF; font-size:15px; border:none; box-shadow: 0 0 10px #eeeeee; }
DIALOG[open] { display:block; }
DIALOG::backdrop { background:rgba(255,255,255,.8); }
DIALOG p { margin:0 0 30px; color:#676767; font-weight:300; }
section { padding: 125px 0; }
/*-----------------------------------------------------*/



/*-----------------------------------------------------*/
/* ----- Buttons
/*-----------------------------------------------------*/
// Basic
.btn {
  display: inline-block;
	font-family: $fontInconsolata;
	font-size: 18px;
	background-color: royalblue;
	border-radius: 30px;
	color: $white;
	padding: 10px;
  transition: all 0.5s;
  a { color: $white; }
  
	&:hover {
    box-shadow: 0px 10px 25px -10px #212121;
	}
  
  // Modifiers
  &--lg {
    text-transform: uppercase;
    padding: 18px 35px;
  }

  &--light {
    color: $primaryLink;
    background-color: $white;
  }

	// Btn - Link
	&-link {
		color: $primaryLink;
		background-color: $white;
		position: relative;

		&:hover {
			box-shadow: none;
		}
	}

	// Btn - Icon
	&-icon {
		margin-left: -20px;

		&--arrow-right {
			&:after {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				position: absolute;
				// Background
				background-image: url('../icons/arrow_right.svg');
				background-position: center center;
				background-size: contain;
				margin-left: 10px;
			}

			&:hover {
				margin-left: -10px;
			}
		}
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Container
/*-----------------------------------------------------*/
.container {
	max-width: 1170px;
	margin: 0 auto;

	@media screen and (min-width: $mobile) {
		max-width: 750px;
	}
	@media screen and (min-width: $tablet) {
		max-width: 970px;
	}
	@media screen and (min-width: $smDesktop) {
		max-width: 1170px;
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Navbar
/*-----------------------------------------------------*/
.nav {
	background-color: $white;
	height: 100px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	font-size: 18px;

	&__logo {
		color: #333;
		font-family: $fontInconsolata;
		font-size: 32px;
		font-weight: 800 !important;
		text-transform: uppercase;

		&:hover {
			color: #111;
		}

		span {
			font-weight: inherit;
			color: $primary;
		}
	}

	&__tab {
		display: inline;
		position: relative;
		margin-right: 40px;

		&--last {
			margin: 0;
		}
	}

	&__link {
		color: hsla(0, 0%, 0%, 0.7);
		padding: 25px 0;

		&:hover {
			color: hsla(0, 0%, 0%, 0.7);
		}

		&--active {
			color: #000;

			&:after {
				content: '';
				position: absolute;
				top: 25px;
				right: 0;
				bottom: 0;
				left: 0;
				width: 70%;
				height: 2px;
				background: #3369e7;
				margin: 0 auto;
			}
		}
	}
}

/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Header
/*-----------------------------------------------------*/
.header {
	background-color: $white;

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Heading
/*-----------------------------------------------------*/
.heading {
	max-width: 850px;
  margin: 0 auto 50px auto;
  text-align: center;

	&__title {
		font-family: $fontInconsolata;
		font-size: 40px;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 18px;
		line-height: 27px;
		color: #666;
  }
  
	// Modifiers
	&--main {
		padding: 80px 0 120px 0;
		margin: 0 auto;
	}

  &--light {
    .heading__title {
      color: $white;
    }
    
    .heading__text {
      color: #ffffffcc;      
    }
	}
	
	&--left {
		text-align: left;
		max-width: 100%;
		padding: 0 5px;

		.heading__title { 
			font-size: 35px;
			margin-bottom: 15px;
		}
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Slider block
/*-----------------------------------------------------*/
.slider {
	width: 100%;
	max-width: 555px;
	height: 600px;

	// Controls
	&__controls {
		position: relative;
		top: -30px;
		float: right;

		&-li {
			display: inline-block;
			margin: 0 5px;
		}
		&-btn {
			// Block
			display: inherit;
			height: 12px;
			width: 12px;
			background: #5a78bd;
			// Other
			cursor: pointer;
			border: 0 solid black;
			border-radius: 20px;
			outline: none;

			&--active {
				background: transparent !important;
				border: 1px solid #fff;
				position: relative;
				top: -1px;
			}
		}
	}

	// Slides
	&__slides {
		width: inherit;
		height: inherit;
		box-shadow: 0px 60px 90px -60px rgba(0, 0, 0, 0.3);

		// Slide
		&-li {
			width: 100%;
			height: 100%;
			float: left;
			margin-right: -100%;
			border-radius: 5px;
			// Position
			display: flex;
			justify-content: center;
			align-items: center;
			// Background
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
			transition: all 1.5s ease-in-out;
		}

		// Slide info card
		&-info {
			background-color: #00aeff;
			position: relative;
			right: 80%;
			border-radius: 10px;
			padding: 40px 35px;
			height: 200px;
			width: 500px;
			box-shadow: -25px 30px 60px -15px rgba(0, 0, 0, 0.15);
			transition: transform 1.5s ease-in-out, opacity 0.5s ease-in-out;
			transition-delay: transform 0.5s;
		}

		&-title {
			color: #000;
			font-family: $fontInconsolata;
			font-weight: 400;
			margin: 0 0 20px 0;
			font-size: 30px;
		}

		&-text {
			overflow: hidden;
			line-height: 24px;
		}
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Contact section
/*-----------------------------------------------------*/
.contact {
  padding: 125px 0 135px;
  background-color: $primary;
  text-align: center;
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Footer
/*-----------------------------------------------------*/
.footer {
  padding: 125px 0 135px;
  
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10%;
  }

	&__title {
    font-size: 20px;
		margin-bottom: 30px;
  }
  
	&__text {
    color: #888;
    line-height: 26px;
  }
  
  // Navigation list
  &__navigation {
    &-li {
      font-size: 20px;
      line-height: 35px;
      
			a:hover { padding-bottom: 2px; border-bottom: 2px solid $primary; }
    }
  }

  // Social media list
  &__social {
    &-li {
      margin-bottom: 30px;
      
      a { transition: all 0.3s; }
      a:hover { opacity: 0.5; }
    }
	}
	
	// Aside
	&__aside {
		margin-top: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		
		p {
			font-size: 20px;
			margin-right: 10px;
			margin-bottom: 1.5px;
			color: #999;
		}
	}
	
	&__react-logo {
		height: 40px;
		animation: app-logo-spin infinite 20s linear;
	}
}

// Animations
@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/*-----------------------------------------------------*/



/*-----------------------------------------------------*/
/* ----- Scrollbar
/*-----------------------------------------------------*/
/* Width */
::-webkit-scrollbar { width: 16px; }
/* Handle */
::-webkit-scrollbar-thumb { background: #d7ccc8; }
/* Track */
::-webkit-scrollbar-track { background: #f0f0f0; box-shadow: inset 0 0 3px #ddd; border: 1px solid #ddd; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #b4aeac;}
/*-----------------------------------------------------*/