@import 'variables';
@import 'home';
@import 'about';
@import 'development';
@import 'design';
@import 'contact';


/*-----------------------------------------------------*/
/* ----- General
/*-----------------------------------------------------*/
.app { text-align:left; }  
* { margin:0; padding:0; font-family: $fontInconsolata; font-weight:400; }
*, *::after, *::before { box-sizing:border-box; }
body { color:#3e454c; background-color:#fefefe; overflow-x: hidden; }
h1, h2, h3, h4, h5, pre { color:#000; margin-bottom: 20px; }
h1 { font-size:20px; }
h1 span { font-weight:300; }
b, strong { font-weight:600; }
a { color:$primaryLink; text-decoration:none; }
a.disabled { pointer-events: none; cursor: default; opacity: 0.65; filter: grayscale(50%); }
a:hover { text-decoration:none !important; }
ul { list-style-type:none; margin: 0; }
iframe { display:block; width:100%; border:1px solid #EEE; background-color:#FFF; }
img { image-orientation: from-image; }

DIALOG { display:none; position:fixed; top:50%; left:50%; padding:45px 30px; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); text-align:center; background-color:#FFF; font-size:15px; border:none; box-shadow: 0 0 10px #eeeeee; }
DIALOG[open] { display:block; }
DIALOG::backdrop { background:rgba(255,255,255,.8); }
DIALOG p { margin:0 0 30px; color:#676767; font-weight:300; }
section { padding: 125px 0; }
/*-----------------------------------------------------*/



/*-----------------------------------------------------*/
/* ----- Buttons
/*-----------------------------------------------------*/
// Basic
.btn {
	font-family: $fontInconsolata;
	font-size: 18px;
	border-radius: 30px;
	display: inline-block;
	padding: 10px;
  transition: all 0.5s;
	
	&:hover {
		color: $primary;
		box-shadow: 0px 10px 25px -10px #212121;
	}

	&--primary {
		color: $white;
		background-color: royalblue;
		a { color: $white; }

		&:hover {
			a {color: $white;}
			color: $white;
			box-shadow: 0px 10px 25px -10px #212121;
		}
	}
  
  // Modifiers
  &--lg {
    text-transform: uppercase;
    padding: 18px 35px;
  }

  &--light {
    color: $primaryLink;
    background-color: $white;
  }

	// Btn - Link
	&-link {
		color: $primaryLink;
		background-color: $white;
		position: relative;

		&:hover {
			box-shadow: none;
		}
	}

	// Btn - Icon
	&-icon {
		margin-left: -20px;

		&--arrow-right {
			&:after {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				position: absolute;
				// Background
				background-image: url('../icons/arrow_right.svg');
				background-position: center center;
				background-size: contain;
				margin-left: 10px;
			}

			&:hover {
				margin-left: -10px;
			}
		}
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Container
/*-----------------------------------------------------*/
.container {
	max-width: 1170px;
	padding: 0 20px;
	margin: 0 auto;
	
	@media screen and (min-width: $mobile) {
		max-width: 750px;
	}
	@media screen and (min-width: $tablet) {
		max-width: 970px;
	}
	@media screen and (min-width: $smDesktop) {
		max-width: 1170px;
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Navbar
/*-----------------------------------------------------*/
.nav {
	background-color: $white;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;

	&__logo {
		color: #333;
		font-family: $fontInconsolata;
		font-weight: 800 !important;
		text-transform: uppercase;
		z-index: 999;

		&:hover {
			color: #111;
		}

		span {
			font-weight: inherit;
			color: $primary;
		}
	}

	&__link {
		color: hsla(0, 0%, 0%, 0.7);
		padding: 25px 0;

		&:hover {
			color: hsla(0, 0%, 0%, 0.7);
		}
		
		&--active {
			color: #000;

			&:after {
				content: '';
				position: absolute;
				right: 0;
				left: 0;
				height: 2px;
				background: #3369e7;
				margin: 0 auto;
			}
		}
	}

	// Media queries
	@media screen and (max-width: 767px) {
		padding: 0 20px;
		
		// Logo
		&__logo {
			font-size: 36px;
		}

		// Tabs
		&__tabs {
			visibility: hidden;
			position: absolute;
			opacity: 0;
			
			&--menu {
				visibility: visible;
				opacity: 1;
				position: fixed;
				top: 0;
				right: 0;
				height: 100vh;
				width: 100vw;
				
				text-align: center;
				line-height: 55px;
				font-size: 25px;

				padding: 125px 25px;
				background-color: white;
				z-index: 998;

				transition: opacity 0.5s;
			}
		}

		// Tab
		&__tab {
			position: relative;
		}

		// Link
		&__link {
			&--active {
				&:after {
					bottom: 0;
					width: 8%;
				}
			}
		}

		// Menu
		&__menu {
			display: block;
		}
	}

	@media screen and (min-width: 767px) {
		// logo
		&__logo {
			font-size: 32px;
		}

		// Tab
		&__tab {
			display: inline;
			position: relative;
			margin-right: 20px;
	
			&--last {
				margin: 0 !important;
			}
		}

		// Link
		&__link {
			&--active {
				&:after {
					top: 25px;
					width: 70%;
				}
			}
		}

		// Menu
		&__menu {
			display: none;
		}
	}

	@media screen and (min-width: $smDesktop) {
		// Tab
		&__tab {
			margin-right: 40px;
		}
	}
}

/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Header
/*-----------------------------------------------------*/
.header {
	background-color: $white;

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Heading
/*-----------------------------------------------------*/
.heading {
	max-width: 850px;
  margin: 0 auto 50px auto;
  text-align: center;

	&__title {
		font-family: $fontInconsolata;
		margin-bottom: 30px;
		
		// Media queries
		@media screen and (max-width: 767px) {
			font-size: 30px;
		}
		@media screen and (min-width: $mobile) {
			font-size: 40px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 27px;
		color: #666;
  }
  
	// Modifiers
	&--main {
		padding: 80px 0 120px 0;
		margin: 0 auto;
	}

  &--light {
    .heading__title {
      color: $white;
    }
    
    .heading__text {
      color: #ffffffcc;      
    }
	}
	
	&--left {
		text-align: left;
		max-width: 100%;
		padding: 0 5px;

		.heading__title { 
			font-size: 35px;
			margin-bottom: 15px;
		}
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Slider block
/*-----------------------------------------------------*/
.slider {
	// Controls
	&__controls {

		&-li {
			display: inline-block;
			margin: 0 5px;
		}

		&-btn {
			cursor: pointer;
			display: inherit;
			background: #5a78bd;
			border: 0 solid black;
			border-radius: 20px;
			
			&:hover, &:focus {
				outline: none;
			}

			&--active {
				background: transparent !important;
				border: 1px solid #fff;
				position: relative;
				top: -1px;
			}
		}
	}

	// Media Queries
	@media screen and (max-width: 767px) {
		&__controls {
			text-align: right;
			
			&-btn {
				height: 20px;
				width: 20px;
			}
		}
	}

	@media screen and (min-width: $mobile) {
		&__controls {
			float: right;
			position: relative;
			top: -30px;
			
			&-btn {
				height: 12px;
				width: 12px;
			}
		}
	}

	// Slides
	&__slides {
		width: inherit;
		height: inherit;
		box-shadow: 0px 60px 90px -60px rgba(0, 0, 0, 0.3);

		// Slide
		&-li {
			width: 100%;
			height: 100%;
			float: left;
			margin-right: -100%;
			border-radius: 5px;
			// Position
			display: flex;
			justify-content: center;
			align-items: center;
			// Background
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
			transition: all 1.5s ease-in-out;
		}

		// Slide info card
		&-info {
			background-color: #00aeff;
			position: relative;
			border-radius: 10px;
			box-shadow: -25px 30px 60px -15px rgba(0, 0, 0, 0.15);
			transition: transform 1.5s ease-in-out, opacity 0.5s ease-in-out;
			transition-delay: transform 0.5s;
		}
		
		&-title {
			color: #000;
			font-family: $fontInconsolata;
			font-weight: 400;
			margin: 0 0 20px 0;
		}

		&-text {
			overflow: hidden;
			line-height: 24px;
		}
	}

	// Media queries
	@media screen and (max-width: 767px) {
		width: 100%;
		height: 460px;

		&__slides {
			&-li {
				width: inherit;
				height: inherit;
				float: left;
				margin-right: -100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top center;
				transition: all 1.5s ease-in-out;
				position: relative;
			}

			// Slide info card
			&-info {
					position: absolute;
					bottom: -165px;
					padding: 20px;
					max-height: 165px;
					width: 100%;
					margin-bottom: -15px;
				}

				&-title {
					font-size: 24px;
				}
		}
	}

	@media screen and (min-width: $mobile) {
		&__slides {
			max-width: 555px;
			height: 600px;		

			// Slide info card
			&-info {
				right: 80%;
				padding: 30px 35px;
				height: 200px;
				width: 500px;
			}

			&-title {
				font-size: 30px;
			}
		}
	}

	@media screen and (min-width: $mobile) and (max-width: $tablet) {
		&__slides {
			max-width: 335px;
			height: 460px;

			// Slide info card
			&-li {
				width: 100%;
				height: 100%;
				float: left;
				margin-right: -100%;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top;
				transition: all 1.5s ease-in-out;
			}

			&-info {
				top: 18%;
				right: 72%;
				padding: 15px 20px;
				height: 160px;
				min-width: 380px;
			}

			&-title {
				font-size: 28px;
			}
		}
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Contact section
/*-----------------------------------------------------*/
.contact {
  padding: 125px 0 135px;
  background-color: $primary;
  text-align: center;
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Footer
/*-----------------------------------------------------*/
.footer {
  padding: 125px 0 135px;

	&__title {
    font-size: 20px;
		margin-bottom: 30px;
  }
  
	&__text {
    color: #888;
    line-height: 26px;
  }
  
  // Navigation list
  &__navigation {
    &-li {
      font-size: 20px;
      line-height: 35px;
      
			a:hover { padding-bottom: 2px; border-bottom: 2px solid $primary; }
    }
  }

  // Social media list
  &__social {
    &-li {
      margin-bottom: 30px;
      
      a { transition: all 0.3s; }
      a:hover { opacity: 0.5; }
    }
	}
	
	// Aside
	&__aside {
		margin-top: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		
		p {
			font-size: 20px;
			margin-right: 10px;
			margin-bottom: 1.5px;
			color: #999;
		}
	}
	
	&__react-logo {
		height: 40px;
		animation: app-logo-spin infinite 20s linear;
	}

	// Media Queries
	@media screen and (max-width: 767px) {
		text-align: center;

		&__col {
			margin-bottom: 60px;
			padding: 0 20px;
		}
	}

	@media screen and (min-width: $mobile) {
		&__row {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 10%;
		}
	}
}

// Animations
@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Menu
/*-----------------------------------------------------*/
// Variables
$menu__line--height: 4px;
$menu__line--space: 6.5px;
$menu__line--offsetY: $menu__line--height + $menu__line--space;
$menu--height: (3 * $menu__line--height) + (2 * $menu__line--space);
$menu--width: (3 * $menu__line--height) + (3 * $menu__line--space);
$menu__line--radius: ($menu__line--height / 5);

.menu {
	height: $menu--height;
	width: $menu--width;
	z-index: 999;

	&:hover {
		cursor: pointer;
	}
	
	&__line {
		height: $menu__line--height;
		background-color: $primaryText;
		border-radius: $menu__line--radius;
		
		&--middle {
			margin: $menu__line--space 0;	
		}
	}
}

// Deactivates animations until first click
.anim-inactive {
	-webkit-animation: none !important;
	animation: none !important; 
}

// Start Animations
.anim-start {
	.menu {
		&__line--top { animation: line-top 0.5s ease-in-out forwards;	}
		&__line--middle {	animation: line-middle 0.5s ease-in-out forwards;	}
		&__line--bottom { animation: line-bottom 0.5s ease-in-out forwards;	}
	}
	
	// 	Top Line
	@keyframes line-top {
		0% {
			transform: translate3d(0, 0, 0) rotate(0deg);
		}
		50% {
			transform: translate3d(0, $menu__line--offsetY, 0) rotate(0);
		}
		100% {
			transform: translate3d(0, $menu__line--offsetY, 0) rotate(45deg);
		}
	}

	// 	Middle Line
	@keyframes line-middle {
		0% {
			opacity: 1;	transform: scale(1);
		}
		100% {
			opacity: 0;	transform: scale(-0.5);
		}
	}

	// Bottom Line
	@keyframes line-bottom {
		0% {
			transform: translate3d(0, 0, 0) rotate(0deg);
		}
		50% {
			transform: translate3d(0, -$menu__line--offsetY, 0) rotate(0);
		}
		100% {
			transform: translate3d(0, -$menu__line--offsetY, 0) rotate(-45deg);
		}
	}
}


// End Animations
.anim-end {
	.menu {
		&__line--top { animation: line-top-undo 0.5s ease-in-out forwards; }
		&__line--middle { animation: line-middle-undo 0.5s ease-in-out forwards; }
		&__line--bottom { animation: line-bottom-undo 0.5s ease-in-out forwards; }
	}

	// Top Line
	@keyframes line-top-undo {
		0% {
			transform: translate3d(0, $menu__line--offsetY, 0) rotate(45deg);
		}
		50% {
			transform: translate3d(0, $menu__line--offsetY, 0) rotate(0deg);
		}
		100% {
			transform: translate3d(0, 0, 0) rotate(0deg);
		}
	}

	// Middle Line
	@keyframes line-middle-undo {
		0% {
				opacity: 0;
				transform: scale(-0.5);
		}
		100% {
				opacity: 1;
				transform: scale(1);
		}
	}

	// Bottom Line
	@keyframes line-bottom-undo {
		0% {
			transform: translate3d(0, -$menu__line--offsetY, 0) rotate(-45deg);
		}
		50% {
			transform: translate3d(0, -$menu__line--offsetY, 0) rotate(0deg);
		}
		100% {
			transform: translate3d(0, 0, 0) rotate(0deg);
		}
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Scrollbar
/*-----------------------------------------------------*/
/* Width */
::-webkit-scrollbar { width: 16px; }
/* Handle */
::-webkit-scrollbar-thumb { background: #b0bec5; }
/* Track */
::-webkit-scrollbar-track { background: #f0f0f0; box-shadow: inset 0 0 3px #ddd; border: 1px solid #ddd; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #b0bec5;}
/*-----------------------------------------------------*/