@import './variables.scss';


/*-----------------------------------------------------*/
/* ----- Gallery component
/*-----------------------------------------------------*/
.design-gallery {
    width: 100%;
    display: block;
    margin-bottom: 180px !important;
    overflow: hidden;
}
/*-----------------------------------------------------*/