@import './variables.scss';


/*-----------------------------------------------------*/
/* ----- Gallery component
/*-----------------------------------------------------*/
.design-gallery {
    width: 100%;
    display: block;
    padding-bottom: 180px;
    overflow: hidden;
}
/*-----------------------------------------------------*/