@import 'variables';



/*-----------------------------------------------------*/
/* ----- Hero
/*-----------------------------------------------------*/
.hero {
	// Size
	background: url('https://i.imgur.com/ElRzUkc.png') fixed;
	background-color: $white;
	background-position: center;
	min-height: calc(100vh - 100px);

	// Positioning
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	// Animations
	animation: app-blobs-float 300s infinite linear;

	&__title {
		// Text
		color: #645ab5;
		font-family: $fontMeslo;
		font-size: 35px;
		font-weight: bold;

		// Look
		padding: 2px 0 2px 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		margin-bottom: 30px;
		background-color: #f8f2f4;

		// Animation prep
		width: 49ch;
		white-space: nowrap;
		overflow: hidden;
		border-right: 5px solid;

		// Animation
		animation: typing-effect 4s steps(51), blink-effect 1.2s infinite alternate;
	}

	&__btn {
		font-size: 35px;
		font-weight: 400;
		color: $secondaryLink;
	}
}

// Animations
@keyframes app-blobs-float {
	100% {
		background-position: 0 1000%;
	}
}
@keyframes typing-effect {
	from {
		width: 0;
	}
}
@keyframes blink-effect {
	50% {
		border-color: transparent;
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Skills component
/*-----------------------------------------------------*/
.skills {
	background-color: $secondary;
	padding: 60px 0 63px;

	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	&-card {
		display: flex;
		align-items: center;
		padding: 45px 15px;

		&__image {
			background-color: $white;
			height: 60px;
			width: 60px;
			margin-left: 30px;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
		}

		&__copy {
			padding-left: 20px;
			flex-grow: 1;

			h3 {
				font-size: 24px;
				margin-bottom: 16px;
			}

			p {
				font-size: 15px;
			}
		}
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Quote component
/*-----------------------------------------------------*/
.quote {
	padding: 300px 0;
	text-align: center;

	&__content {
		// Layout
		display: grid;
		grid-template-columns: auto 70% auto;
		align-items: baseline;
		margin-bottom: 7px;
		// Text
		color: $primaryText;
		font-size: 18px;
		font-family: $fontMeslo;
		line-height: 30px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			bottom: 100px;
			width: 243px;
			height: 4px;
			background: rgba(51, 105, 231, 0.8);
			margin: 0 auto;
		}

		&:after {
			content: '';
			position: absolute;
			top: 130px;
			right: 0;
			bottom: 0;
			left: 0;
			width: 243px;
			height: 4px;
			background: rgba(51, 105, 231, 0.8);
			margin: 0 auto;
		}
	}

	&__symbol {
		font-family: $fontMeslo;
		font-size: 24px;
		text-align: left;

		&:first-of-type {
			text-align: right;
			margin-right: 10px;
		}
	}

	&__footer {
		position: relative;
		font-family: $fontMeslo;
	}
}

// Font Awesome
.fa-skill {
	color: $primary;
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Work component
/*-----------------------------------------------------*/
.work {
	padding: 125px 0;
	background-color: $primaryDark;

	&__container {
		display: grid;
		grid-template-columns: 60% 40%;
	}

	&__heading {
		color: $white;
		font-family: $fontInconsolata;
		font-weight: 400;
		margin-right: 60px;
	}

	&__title {
		color: inherit;
		font-size: 40px;
		margin-bottom: 30px;
	}

	&__subtitle {
		font-size: 18px;
		line-height: 28px;
	}
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Gallery component
/*-----------------------------------------------------*/
.gallery {
	padding: 145px 0;
	text-align: center;

	&__list {
		padding: 60px 20px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
	}

	&__li {
		width: 100%;
		height: 300px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
/*-----------------------------------------------------*/
