/*-----------------------------------------------------*/
/* ----- Fonts
/*-----------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin-ext');
@font-face { font-family: 'Meslo'; src: url('../fonts/MesloLGM-Bold.ttf') format('truetype'); }
@font-face { font-family: 'Meslo'; src: url('../fonts/MesloLGM-Regular.ttf') format('truetype'); }
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* ----- Variables
/*-----------------------------------------------------*/
// Colors
$white: #fff;

// Colors tagged
$primary: #3369e7;
$primaryDark: #133ea1;

$secondary: #00aeff;

$primaryText: #4c4c4c;
$secondaryText: #888;

$primaryLink: #3369e7;
$secondaryLink: #61dafb;

// Fonts
$fontInconsolata: 'Inconsolata', 'Courier New', monospace, sans-serif;
$fontMeslo: 'Meslo', 'Arial', sans-serif;

// Media query utils
$mobile: 768px;
$tablet: 992px;
$smDesktop: 1200px;
$mdDesktop: 1400px;
/*-----------------------------------------------------*/
