@import './variables.scss';


/*-----------------------------------------------------*/
/* ----- Gallery component
/*-----------------------------------------------------*/
.dev-gallery {
	padding: 145px 0;
	text-align: center;

	&__list {
		padding: 60px 20px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 90px;
		row-gap: 100px;
	}

	&__li {
		width: 100%;
		height: 380px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		border-radius: 3px;
		box-shadow: 1px 2px 5px #bbb;
		transition: all 0.3s;

		&:hover {
			box-shadow: 5px 15px 20px -10px #999;
			margin-top: -2px;
		}
	}
}
/*-----------------------------------------------------*/